/*! Resume */
.resume-container {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 83.5rem);
    grid-template-rows: repeat(2, 50rem);
    background-position: fixed;
    background-image: url(../images/blob.svg);
    background-repeat: no-repeat;
    background-size: 43% 70%;
    background-position-x: 103rem;
    background-position-y: 38rem;
}

.resume-inner-section-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.detail-section {
    margin-bottom: 3rem;
}
.detail-title {
    text-align: start;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .8rem;
    padding-right: 3rem;
}

.inner-detail-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .8rem;
}
.t-skills {
    border-spacing:  0 2.1rem;
}
.t-skills-detail {
    padding-bottom: 1rem;
    padding-right: 8rem;
}

.t-skills-detail, .light-detail {
    font-size: 1.5rem;
    font-weight: 500;
}

.got-questions {
    display: flex;
    flex-wrap: wrap;
}

.questions-title {
    font-size: 5rem;
    font-weight: 600;
}
.questions-link {
    text-decoration: underline;
    font-size: 5rem;
}
.questions-link:hover {
    color: #494b5e;
}

.resume-emoji {
    width: 220px;
    height: 220px;
}

.got-questions {
    align-self: center;
}
strong {
    font-weight: 700;
}


/* !Feedback */
.feedback {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    margin: 0;
}

.blob {
    display: inline-block;
    position: relative;
}
.feedback-blob1, .feedback-blob2 {
    z-index: -1;
    opacity: .8;
}
.feedback-blob1 {
    bottom: 25rem;
}
.feedback-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-msg {
    font-size: 5rem;
    width: 30ch;
    font-weight: 600;
}
.feedback-link {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 3rem;
}

/*! Social */
.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    margin-right: 5rem;
}
.icon {
    font-size: 5rem;
    color: black;
    transition: all 200ms ease;
}

.icon:hover {
    color: #2b2d42c0;
    transition: all 200ms ease;
}

.socials-nav {
padding: 2rem;
}

.project-card {
    background: url(https://source.unsplash.com/random);
    width: 100%;
    min-height: 30rem;
    transition: all 200ms ease;
}


.project-card:hover {
    transition: all 200ms ease;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 15px 8px rgba(232, 218, 255, 1);
}


/* ! Learning or About-me */
.learning {
    margin-bottom: 12rem;
}
.learn-sec-container {
    background: rgb(232,218,255);
    background: radial-gradient(circle, rgba(232,218,255,1) 0%, rgba(255,255,255,1) 100%);
    padding: 5rem;
    display: grid;
    grid-gap: 15rem;
    justify-content: center;
    grid-template-columns: repeat(2, 60rem);
    grid-template-rows: 10vh 1fr 10vh 1fr 10vh;
}
.learn-container {
    width: min-content;
}
.car-block{
    padding: 0 2rem;
}
.learn-card-img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    background: url(https://source.unsplash.com/random);
}

.learn-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

.learn-description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
} 

.l-card-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.l-card-2 {
    grid-area: 2 / 2 / 4 / 3;
}

.l-card-3 {
    grid-area: 3 / 1 / 5 / 2;
}

.l-card-4 {
    grid-area: 4 / 2 / 6 / 3;
    align-self: end;
}
@media screen and (max-width: 1261px) {
    .card-block {
        margin: 0 4rem;
    }
}
@media screen and (max-width: 1187px) {
    
}
@media screen and (max-width: 1098px) {
    .card-block {
        margin: 0 10rem;
    }
  
}
@media screen and (max-width: 1053px) {

    .card-block {
        margin: 0;
    }
    .l-con-1,
    .l-con-3 {
        margin-left: 15rem;
    }
    .l-con-2,
    .l-con-4 {
        margin-right: 15rem;
    }
}

@media screen and (max-width: 1024px) {
    .learn-sec-container {
        grid-gap: none;
    }
    .learn-card-img {
        height: 40vh;
        width: 35vw;
    }
    .learn-title {
        width: 18ch;
    }
    .learn-description {
        width: 32ch;
    }
    .l-card-1,
    .l-card-3 {
        justify-self: end;
    }
}
@media screen and (max-width: 768px) {
    .l-con-1,
    .l-con-2,
    .l-con-3,
    .l-con-4 {
        margin: 0;
    }
    .learn-card-img {
        width: 100%;
    }
    .learn-title {
        width: 28ch;
    }
    .learn-description {
        width: 100%;
    }
    .learn-sec-container {
        display: flex;
        flex-direction: column;
    }
    .l-card-1,
    .l-card-2,
    .l-card-3,
    .l-card-4 {
        grid-area: auto;
        justify-self: auto;
    }

    .learn-card {
        margin-top: ;
    }
}
@media screen and (max-width: 425px) {
    .learn-title {
        width: 18ch;
    }
    .l-card-4 {
        display: none;
    }
}

/* !footer */
footer {
    margin-top: auto;
}
.footer-nav {
    margin: 0;
    padding: 1rem;
    align-content: center;
}
.footer-sec {
    background: rgb(232,218,255);
    background: radial-gradient(circle, rgba(232,218,255,1) 95%, rgba(255,255,255,1) 100%);
} 
.footer-icon {
    font-size: 2rem;
}
@media screen and (max-width: 1024px) {
   .footer-icon {
       font-size: 1.5rem;
   } 
   .footer-email {
       font-size: 1.5rem;
   }
   @media screen and (max-width: 768px) {
       .logo-list {
           display: none;
       }
       .list {
           justify-content: space-between;
           font-size: 2rem;
       }
   }
}