@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    /*? Colors */
    --color-primary: #2b2d42;
    --color-secondary: #8d99ae;
    --color-background: #edf2f4;
    --color-darker-accent: #d6c0f8b0;
    --color-accent: #E8DAFF;
    /*? Gradients */
    --gradient-accent: background: radial-gradient(circle, rgba(232,218,255,1) 68%, rgba(148,213,233,1) 100%);
    /*? Fonts  */
    --font-primary: 'Comfortaa';
    --font-secondary: 'Inter';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-size: 62.5%;
    background: var(--color-background);
}

body {
    font-family: var(--font-secondary), sans-serif;
}

a {
    outline: 0;
    text-decoration: none;
    color: var(--color-primary);
    transition: color 200ms ease;
}
a:hover {
    color: var(--color-darker-accent);
    transition: color 200ms ease;
}
 
ul {
    list-style: none;
}
 p {
     margin: 0;
 }
 /* Blocks */
 .block {
     margin: 0 2rem;
 }

 .block2 {
     margin: 0 10rem;
 }

 .thicker-block {
    margin: 9 8rem;
 } 
 /* Section Titles */
 .section-title {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin: 2rem 0;
     font-size: 2.5rem;
     font-weight: 700;
 }

/*! Navigation Bar */
.nav-block {
    margin: 2rem 5rem;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.n-list-item {
    display: inline;
    margin-left: 6rem;
    font-weight: 700;
}

.l-list-item {
    display: inline;
    margin-right: 1.3rem;
    font-size: 1.5rem;
}
.nav-icon {
    font-size: 1.8rem;
    border: rgba(141, 153, 174, .1) solid 1px;
    padding: 1rem;
    transition: all 200ms ease;
}
.nav-icon:hover {
    background: var(--color-accent);
    transition: all 200ms ease;
}

.nav-link {
    font-size: 1.4rem;
}

.nav-email:hover {
    cursor: pointer;
    transition: color 200ms ease;
}
.email-link {
    font-weight: 600;
}
/* ! Hero */
.hero {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.hero-emoji {
    margin-top: 2rem;
    background-image: url(../images/blob.svg);
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    grid: 1 / 1 / 2 / 3;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-msg {
    font-size: 10rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    width: 18ch;
}
.hero-name {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.hero-description {
    line-height: 1.5;
    width: 44ch;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 4rem;
}

.hero-btn {
font-size: 1.5rem;
 margin: 4rem 0 ;
 background: black;
 color: var(--color-background);
 padding: 2rem 6rem;
 border-radius: 35px;
 transition: all 200ms ease;
 cursor: pointer;
}

.hero-btn:hover {
    background: var(--color-background);
    color: black;
    transition: all 200ms ease;
}

.border-design {
    border-bottom: rgba(232, 218, 255, 0.8) solid 1.3rem;
}


/* ! Projects */
.project-container {
    gap: 3rem;
    column-gap: -2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 15px 8px rgba(232, 218, 255, 0);
}

.project-card {
    background: url(https://source.unsplash.com/random);
    width: 100%;
    height: 50rem;
    transition: all 200ms ease;
}

.project-card:hover {
    transition: all 200ms ease;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 15px 8px rgba(232, 218, 255, 1);
}



/*! Resume */
.resume-container {
    border: red solid 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.resume-inner-section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.detail-section {
    margin-bottom: 3rem;
}
.detail-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .8rem;
    padding-right: 3rem;
}

.inner-detail-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.t-skills {
    border-spacing:  0 2.1rem;
}

.t-skills-detail, .light-detail {
    font-size: 1.3rem;
    font-weight: 500;
}

