<!-- ! Navigation Bar  -->
<section class="nav-block">
  <div class="nav-container">
    <nav class="nav-block nav-bar">
      <a class="nav-logo">Nate<span class="period-design">.</span></a>
      <ul class="nav-list">
        <li class="n-list-item"><a href="" class="nav-link">About</a></li>
        <li class="n-list-item">
          <a href="" class="nav-link">Projects</a>
        </li>
        <li class="n-list-item">
          <a href="" class="nav-link">Resume</a>
        </li>
      </ul>
      <button class="nav-btn btn">Contact Me</button>
    </nav>
  </div>
</section>
