<!-- !Hero -->
<section class="hero-block hero">
  <div class="hero-emoji-container">
    <img class="hero-emoji emoji" src="images/Emoji-Hero.PNG" alt="" />
  </div>
  <div class="hero-content sec-block">
    <h1 class="hero-name">Hi, I'm Natanael ✌🏼</h1>
    <h2 class="hero-msg">
      <span class="border-design">Building</span> digital products, designer,
      developer.
    </h2>
    <p class="hero-description">
      a self-taught <strong>Front End Developer</strong> based in Edinburg, TX.
      I specialize in turning <strong>mockups</strong> and
      <strong>wireframes</strong> into fully <strong>responsive</strong> sites.
    </p>
    <button class="btn hero-btn">Connect With Me</button>
  </div>
</section>
