<!-- !Projects -->
<section class="block project-section">
  <header class="section-title">
    <h2 class="border-design project project-title">Projects</h2>
  </header>
  <div class="project-container">
    <div class="card p-card-1">
      <div class="card-content">
        <h2 class="card-title">Movie Project</h2>
        <p class="card-body">
          This project was build with html, css, and javascript. With the use of
          a third party movie streasming api. The api was manipulated using
          axios & postman.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <div class="card p-card-2">
      <div class="card-content">
        <h2 class="card-title">Project</h2>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          quibusdam, fuga asperiores corrupti deleniti animi quasi.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <div class="card p-card-3">
      <div class="card-content">
        <h2 class="card-title">Project</h2>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          quibusdam, fuga asperiores corrupti deleniti animi quasi.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <div class="card p-card-4">
      <div class="card-content">
        <h2 class="card-title">Project</h2>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          quibusdam, fuga asperiores corrupti deleniti animi quasi.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <div class="card p-card-5">
      <div class="card-content">
        <h2 class="card-title">Project</h2>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          quibusdam, fuga asperiores corrupti deleniti animi quasi.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <div class="card p-card-6">
      <div class="card-content">
        <h2 class="card-title">Project</h2>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem
          quibusdam, fuga asperiores corrupti deleniti animi quasi.
        </p>
        <a href="#" class="card-button">Learn More</a>
      </div>
    </div>
    <a class="project-page-link" href="">View All Project</a>
  </div>
</section>
