<!-- !Socials -->
<section class="socials block2">
  <h2 class="section-title mid border-design">Socials</h2>
  <div class="socials-container">
    <nav class="socials-nav">
      <ul class="list">
        <li class="n-list-item">
          <a href="#" class="social-link linkedin"
            ><i class="icon fab fa-linkedin-in"></i
          ></a>
        </li>
        <li class="n-list-item">
          <a href="#" class="social-link"><i class="icon fab fa-github"></i></a>
        </li>
        <li class="n-list-item">
          <a href="#" class="social-link"
            ><i class="icon fab fa-facebook-f"></i
          ></a>
        </li>
        <li class="n-list-item">
          <a href="#" class="social-link"
            ><i class="icon fab fa-instagram"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
