<!-- !What I am currently learning / About me -->
<section class="block2 learning">
  <h2 class="learning-sec-title section-title border-design">
    What i am currently learning or interested in.
  </h2>
  <div class="learn-sec-container">
    <!-- card 1 -->
    <div class="card-1 learn-container">
      <div class="learn-card">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">UI / UX Design</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card-2 learn-container">
      <div class="learn-card">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Machine learning & AI</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 3  -->
    <div class="card-3 learn-container">
      <div class="learn-card">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Mobile development with React Native</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 4 -->
    <div class="card-4 learn-container">
      <div class="learn-card">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Desktop Development with Electron</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
  </div>
</section>
