<!-- !What I am currently learning / About me -->
<section class="learning">
  <header class="section-title">
    <h2 class="block long-sec-title border-design">
      What i am currently learning.
    </h2>
  </header>
  <div class="learn-sec-container">
    <!-- card 1 -->
    <div class="l-card-1 learn-container card-block">
      <div class="learn-card l-con-1">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">UI / UX Design</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 2 -->
    <div class="l-card-2 learn-container card-block">
      <div class="learn-card l-con-2">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Machine Learning & AI</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 3  -->
    <div class="l-card-3 learn-container card-block">
      <div class="learn-card l-con-3">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Mobile Development with React Native</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
    <!-- card 4 -->
    <div class="l-card-4 learn-container card-block">
      <div class="learn-card l-con-4">
        <div class="learn-card-img">
          <img class="learn-card-im" src="" alt="" />
        </div>
        <h3 class="learn-title">Desktop Development with Electron</h3>
        <p class="learn-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          provident quas ullam illum rerum in laboriosam, velit vel, consequatur
          dolor repellendus at! Sit tempora nostrum provident mollitia
          accusantium voluptates error?
        </p>
      </div>
    </div>
  </div>
</section>
