<!-- !about-me -->
<section class="about-me">
  <header class="section-title">
    <h2 class="block"></h2>
  </header>
  <div class="block about-me-container">
    <img src="about-me" alt="" />
    <img class="about-me-emoji" src="images/think-emoji.png" alt="" />
    <div class="about-me-content">
      <h2 class="about-me-title border-design">A Bit More About Me</h2>
      <p class="about-me-description">
        My name is Natanael Pacheco. I have been studying Web Development since
        December 2019.
      </p>
      <p class="about-me-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vero harum
        obcaecati recusandae ipsum officiis, qui sit voluptates totam ea!
        Aliquid, excepturi. Modi recusandae maxime neque porro sit odit debitis
        eos. Excepturi neque eius animi dolore odio nisi vitae a?
      </p>
      <p class="about-me-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis
        maxime? Quas magni nemo assumenda quibusdam accusamus autem doloremque?
        Mollitia?
      </p>
    </div>
  </div>
</section>
