<!-- !Resume -->
<!-- <section class="resume-section">
  <header class="section-title">
    <h2 class="block border-design">Resume</h2>
  </header>
  <div class="block2 resume-container">
    <div class="education">
      <h3 class="resume-inner-section-title">Education</h2>  
        <div class="detail-section">
          <h4 class="detail-title">Udacity</h3>
            <p class="inner-detail-title">Front End Web Development Nanodegree</p>
            <p class="light-detail">December 2020 - April 2021</p> 
        </div>
        <div class="detail-section">
          <h3 class="detail-title">Udemy / Colt Steele</h3>
            <p class="inner-detail-title">Web Development Bootcamp</p>
            <p class="light-detail">January 2021 - May 2021</p> 
        </div>
        <div class="detail-section">
            <h4 class="detail-title">Udemy / Andrei Neagole</h3>
              <p class="inner-detail-title">Data Structures & Algorithms</p>
              <p class="light-detail">March 2021 - June 2021</p> 
          </div>
    </div>
    <div class="skills">
      <h3 class="resume-inner-section-title">Skills</h3>
      <table class="t-skills">
        <tr class="t-row">
          <th class="detail-title">Front End Development</th>
          <th class="detail-title">Back End Development</th>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">HTML5/CSS3</td>
          <td class="t-skills-detail">Node.js</td>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">Responsive Web Desing</td>
          <td class="t-skills-detail">Express.js</td>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">SCSS / SASS</td>
          <td class="t-skills-detail">JSON</td>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">Javascript</td>
          <td class="t-skills-detail">NoSQL</td>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">React.js</td>
          <td class="t-skills-detail">Wordpress</td>
        </tr>
        <tr class="t-row">
          <td class="t-skills-detail">RESTful API</td>
          <td class="t-skills-detail">Authentication / Auth0</td>
        </tr>
      </table>
    </div>
          <div class="tools">
            <h3 class="resume-inner-section-title">Tools</h3>
            <table class="t-skills">
              <tr class="t-row">
                <th class="detail-title">Desing</th>
                <th class="detail-title">Development & Workflow</th>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">Figma</td>
                <td class="t-skills-detail">Visual Studio Code</td>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">Photoshop</td>
                <td class="t-skills-detail">Postman</td>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">Adobe XD</td>
                <td class="t-skills-detail">Parceljs</td>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">After Effects</td>
                <td class="t-skills-detail">Whimsical</td>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">Cinema 4D</td>
                <td class="t-skills-detail">Notion</td>
              </tr>
              <tr class="t-row">
                <td class="t-skills-detail">Webflow</td>
                <td class="t-skills-detail">Slack</td>
              </tr>
            </table>
          </div>
          <div class="got-questions">
            <img class="resume-emoji" src="Images/Emoji-Project-Sec.PNG" alt="">
            <div class="questions-content">
              <h2 class="questions-title">Got any questions?</h2>
              <a href="#" class="questions-link">Let's Talk!</a>
            </div>
          </div>
        </div>
      </section> -->
<!-- ! Feedback  -->
<!-- <section class="feedback">
      <img class="blob feedback-blob1" src="Images/footer-svg1.svg" alt="">
      <div class="feedback-content">
        <h2 class="feedback-msg">It would be awesome if you can tell me how was your experience, and if possible what would be something you would improve.</h2>
        <a class="feedback-link" href="">Let Me Know Here!</a>
      </div>
      <img class="blob feedback-blob2" src="Images/footer-svg2.svg" alt="">
    </section> -->
