<!-- ! Navigation Bar  -->
<div class="nav-block">
    <nav class="nav-block nav-bar">
      <ul class="list logo-list">
          <li class="l-list-item"><i class="nav-icon fas fa-envelope-open-text"></i></li>
          <li class="l-list-item nav-email"><a class="email-link">natepacheco716@gmail.com</a></li>
      </ul>
        <ul class="list nav-list">
        <li class="n-list-item"><a href="" class="nav-link">Projects</a></li>
        <li class="n-list-item"><a href="" class="nav-link">Resume</a></li>
        <li class="n-list-item"><a href="" class="nav-link">Services</a></li>
        <li class="n-list-item"><a href="" class="nav-link">Contact</a></li>
      </ul>
  </div>